# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_wnfronc
VITE_EMAILJS_TEMPLATE_ID=template_yvfow1h
VITE_EMAILJS_PUBLIC_KEY=VjipocLXSxOvJktGE

# Supabase Configuration
VITE_SUPABASE_URL=https://kozlzchjgedgcqowyojd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtvemx6Y2hqZ2VkZ2Nxb3d5b2pkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTExOTAsImV4cCI6MjA4OTE2NzE5MH0.xLOJT23Yxn-1AO3dKJe58XLS99DhF2LBWrMrYCHCM78
